@use "../../scss/abstracts/breakpoints" as b;
@use "../../scss/abstracts/functions.scss" as f;
@use "../../scss/abstracts/mixins.scss" as m;

.container {
  width: 90vw;
  max-width: 1240px;
  margin-inline: auto;
}

.top-nav-container {
  width: 90vw;
  margin-inline: auto;
  @include m.flex(row, center, space-between);
  padding-block: 16px;

  @include b.mq-up(medium) {
    width: 95vw;
    padding-block: 24px;
  }
}

// .container {
//   background-color: var(--accent__background);
//   width: 100%;
//   padding-top: 60px;
//   padding-inline: clamp(20px, 5vw, 80px);
//   // padding-left: clamp(40px, 5vw, 80px);
// }
