.container {
  width: 90vw;
  max-width: 1240px;
  margin-inline: auto;
}

// .container {
//   background-color: var(--accent__background);
//   width: 100%;
//   padding-top: 60px;
//   padding-inline: clamp(20px, 5vw, 80px);
//   // padding-left: clamp(40px, 5vw, 80px);
// }
