.form-filter {
  margin-top: 35px;
  background: white;
  padding: 30px 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 340px;
  border-radius: 4px;

  &__group {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    label {
      color: var(--pri__blue);
    }

    input,
    select {
      width: 100%;
      padding: 12px 20px;
      border-radius: 5px;
      border: 1px solid #545f7d46;
      background: none;
      outline: none;
      color: var(--pri__blue-text);
      font-size: 14px;
      margin-top: 6px;

      &::placeholder {
        font-size: 14px;
        color: var(--pri__blue-text);
      }

      &:focus,
      &:active {
        border: 1px solid var(--pri__cyan);
      }

      &.error {
        border: 1px solid red;
      }
    }

    .errorMessage {
      margin-top: 5px;
      font-size: 14px;
      color: red;
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      font-weight: 200;
      font-size: 14px;
      width: 45%;
      padding-block: 16px;
      border-radius: 8px;
      color: white;
      border-radius: 8px;
      cursor: pointer;
    }

    & button:nth-child(1) {
      background: none;
      color: var(--pri__blue-text);
      border: 1px solid var(--pri__blue-text);
    }

    & button:nth-child(2) {
      background-color: var(--pri__cyan);
    }
  }
}
