@use "../../scss/abstracts/breakpoints" as b;
@use "../../scss/abstracts/functions.scss" as f;
@use "../../scss/abstracts/mixins.scss" as m;

.table__wrapper {
  width: 100%;
}

.table {
  width: 100%;
  font-family: var(--ff__work-sans);
  padding: 10px;
  border-spacing: 0;

  @include b.mq-up(medium) {
    padding: 30px;
  }

  &__header {
    position: relative;
    padding-bottom: 20px;
  }

  &__column-header {
    position: relative;
    @include m.flex-ai(row, center);
    gap: 8px;
    padding-block: 12px;
    cursor: pointer;

    &-text,
    img {
      color: var(--clr-blue-08);
      font-size: 14px;
      font-weight: bold;
    }
  }

  &__body-row {
    &:hover {
      background-color: rgba(136, 163, 216, 0.1);
    }

    & > td:first-child {
      padding-left: 8px;
    }
  }

  &__body-cell {
    padding-block: 20px;
    font-size: 14px;
    color: var(--clr-blue-08);
    border-top: 1px solid rgba(33, 63, 125, 0.05);
    padding-right: 10px;
  }

  &__status {
    @include m.flex(row, center, center);
    padding: 6px 12px;
    border-radius: 100px;
    display: inline-flex;

    > p {
      font-size: 14px;
    }
  }

  &__date {
    font-size: 14px;
    color: var(--clr-blue-08);
  }

  &__legend {
    @include m.flex(row, center, space-between);
    font-family: var(--ff__work-sans);
    margin-top: 20px;
    color: var(--clr-blue-08);
    font-style: 14px;

    &-left {
      @include m.flex-ai(row, center);

      strong {
        margin-inline: 4px;
      }
    }

    &-center {
      @include m.flex-ai(row, center);
      gap: 8px;
      display: none;

      @include b.mq-up(medium) {
        display: flex;
      }
    }

    &-right {
      @include m.flex-ai(row, center);
      gap: 8px;

      button {
        @include m.flex(row, center, center);
        width: 32px;
        height: 32px;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          background: rgba(84, 95, 125, 0.4);
        }
      }
    }
  }
}
