@use "../../scss/abstracts/breakpoints" as b;
@use "../../scss/abstracts/functions.scss" as f;

.dashboard {
  &__container {
    min-height: calc(100dvh - 80px);
    display: flex;
    flex-direction: row;
    width: 100vw;
    background-color: var(--accent__background);

    @include b.mq-up(large) {
      min-height: calc(100dvh - 100px);
    }
  }

  &__content {
    width: 100%;
    max-width: 1840px;
    padding: 20px 20px 80px;
    font-family: var(--ff__work-sans), sans-serif;
    overflow-x: auto;

    @include b.mq-up(large) {
      margin-left: 240px;
    }

    @include b.mq-up(xLarge) {
      margin-left: 283px;
      padding: 50px 60px 100px;
    }
  }

  &__title {
    font-size: f.rem(24);
    color: var(--pri__blue);
    font-weight: 500;
  }
}
