@use "../../scss/abstracts/breakpoints" as b;
@use "../../scss/abstracts/functions.scss" as f;

.users {
  &__stats {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: space-between;
    gap: 40px;

    @include b.mq-up(medium) {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    @include b.mq-up(xLarge) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
