@use "../../abstracts/breakpoints" as b;
@use "../../abstracts/functions.scss" as f;
@use "../../abstracts/mixins.scss" as m;

.userDetailsTopNav {
  &__content {
    @include m.flex(row, center, space-between);
    font-family: var(--ff__work-sans);
    margin-top: 26px;

    h2 {
      color: var(--clr-blue);
      font-size: f.rem(20);
      flex-shrink: 0;

      @include b.mq-up(medium) {
        font-size: f.rem(24);
      }
    }
  }

  &__btns {
    @include m.flex-ai(column, center);
    gap: 12px;

    @include b.mq-up(medium) {
      @include m.flex-ai(row, center);
      font-size: f.rem(24);
      gap: 20px;
    }

    &--blacklist,
    &--activate {
      min-width: 144px;
      font-size: f.rem(14);
      padding: 8px 12px;
      border-radius: 8px;
      background: none;
      border: 1px solid currentColor;
      margin-right: auto;
      display: block;
      cursor: pointer;

      &:hover,
      &:focus,
      &:focus-visible {
        box-shadow: 0px 0px 4px currentColor;
        border: 1px solid currentColor;
      }

      @include b.mq-up(medium) {
        padding: 12px 16px;
      }
    }

    &--blacklist {
      color: var(--clr-red);
    }

    &--activate {
      color: var(--clr-cyan);
    }
  }
}
